<div class = "placeholder">
</div>
<div class = "page-header">

<h1>Rotten Mangoes</h1>
<%= link_to "Submit a movie!", new_movie_path %>
<hr>

<%= form_tag("/movies/search", method: "post")  do%>
  <%= label_tag(:search, "Search title or director") %>
  <%= text_field_tag(:search) %>
  <%= label_tag(:duration, "Duration") %>
  <%= select_tag(:duration, options_for_select([['select length', 'none'], ['under 90 min', '0-90'], ['between 90 min - 120 min', '90-120'], ['over 120 min', '120-9000']])) %>
  <%= submit_tag("search")%>

<% end %>

</div>

<div class = "list-movies">

<%= render partial: "movie", collection: @movies %>

</div>